* {
    margin: 0;
    padding: 0;
}
body {
    background: #10324d;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.main-section {
    padding: 60px 0;
}
.side-tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tab-btn {
    border: none;
    background: #fff;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
    border-radius: 3px;
    position: relative;
}
.tab-btn::before {
    content: '';
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 107%;
    transform: translateY(-50%);
    width: 15px;
    height: 30px;
    background-color: #63b4c9;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
.tab-btn.active {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #000000;
}
.tab-btn.active::before {
    transition: .3s;
    left: 103%;
    opacity: 1;
}
.content-wrapper {
    overflow: hidden;
    padding: 40px;
    height: 100%;
}
.slider-content h2 {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 700;
}
.slider-content p {
    color: #666;
    line-height: 1.8;
}
.image-box {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-nav {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}
.slider-nav button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 22px;
}
.tab-pane-custom {
    display: none;
}
.tab-pane-custom.active {
    display: block;
}
.side-tabs button span {
    display: none;
}
.resbox {
    display: block;
}
@media(max-width:991px) {
    .side-tabs button span {
        display: block;
    }
    .whl .col-lg-4 {
        background: unset !important;
    }
    .side-tabs {
        padding: 0!important;
    }
    .tab-pane-custom.active .content-wrapper::before {
        content: '';
        position: absolute;
        opacity: .5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #63b4c9;
    }
    .whl {
        background: unset !important;
    }
    .tab-btn.active::before,
    .tab-btn::before {
        transform: rotate(90deg);
        top: 100%;
        left: 50%;
    }
    /* #tab1 .content-wrapper {
        background: url("img/Learning.jpg");
    }
    #tab2 .content-wrapper {
        background: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?q=80&w=1200&auto=format&fit=crop");
    }
    #tab3 .content-wrapper {
        background: url("https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?q=80&w=1200&auto=format&fit=crop");
    } */
    #imgsld {
        display: none;
    }
    .resbox {
        display: none;
    }
}